body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  max-width: 1920px;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  justify-content: space-between;
}

.cabecalho{
  display: flex;
  align-items: center;
  background-color: #032CA6;
  width: 100vw;
  height: 4vw;
}

.cabecalho img{
  margin-left: 1vw;
  width: 10vw;
}

.busca{
  display: flex;
}

#trackingNumber{
  width: 30vw;
  border-top-left-radius: 10vw;
  border-bottom-left-radius: 10vw;
  border: solid;
  border-color: gray;
  height: 2.12vw;
  font-size: 1.3vw;
  padding-left: 1vw;
  transition: margin 0.5s;
}

button {
  background-color: #032CA6;
  border: none;
  border-top-right-radius: 10vw;
  border-bottom-right-radius: 10vw;
  cursor: pointer;
  width: 5vw;
  height: 2.5vw;
}

button img {
  width: 2vw;
}

button:hover {
  background-color: #1b42b6;
}

#result{
  display: none;
}

.rodape{
  background-color: #032CA6;
  width: 100vw;
  height: 4vw;
}

#status{
  width: 10vw;
  opacity: 0;
}